<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style-404.css">
    <title>404</title>
</head>
<body>
<main>
	<div class="container">
		<h1 class="ups"> Eroare 404 </h1>
		<div class="mesaj">
			<span> Ups! Pagina nu a fost gasita! </span>
			<button onclick="location.href ='/index';"> Pagina principala </button>
		</div>
	</div>
</main>
<footer>
</footer>
</body>
</html>