<!doctype html>
<html lang="ro">
    <head>
        <title>Clariss Descriere</title>
        <link rel="icon" href="images/clariss.png">
		<link rel="stylesheet" href="css/global.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/style-despre.css">
		<link rel="stylesheet" href="css/media.css">
		<meta charset="UTF-8">
		<meta name="description" content="Descrierea magazinului de incaltaminte Clariss si istoria acestuia">
		<meta name="keywords" content="Pantofi,Toc,Afacere,Clariss">
		<meta name="author" content="Matei Andreea Madalina">
		<meta name="viewport" content="width=device-width">
    </head>
<body>
	<%-include("../fragmente/header")%>
	<main>		
	<section>
	<div class="container">
	<h1 id="treptat"></h1>
	<script src="js/java-titlu.js"></script>
	<div class="container">
	<p>Una din pasiunile noastre este moda  iar de aceea ne-am decis c&#259; cea mai bun&#259; afacere pentru noi ar fi una &icirc;n aria noastr&#259;  de cunoa&#537;tere &#537;i interes. O firm&#259; de &icirc;nc&#259;l&#539;&#259;minte pare un lucru banal, dar o  afacere de &icirc;nc&#259;l&#539;&#259;minte cu toc deta&#537;abil &icirc;ncepe s&#259; st&acirc;rneasc&#259; curiozitatea oric&#259;rei  femei. Aceast&#259; idee este una inovatoare &icirc;n &#539;ar&#259; nostra &#537;i de aceea ar aduce un plus  &icirc;n acest domeniu de activitate. A&#537;a cum noi ne-am dori asemenea pantofi suntem  sigure c&#259; &#537;i alte persoane ar vrea.</p>
	<p>Imagina&#539;i-v&#259; c&#259; trebuie s&#259; merge&#539;i la  o petrecere , &#537;i desigur c&#259; ve&#539;i purta o pereche de pantofi cu toc pentru a  face o apari&#539;ie fabulosa, dar pe parcursul serii picioarele &icirc;ncep s&#259; va doar&#259; &#537;i  &icirc;i privi&#539;i cu nostalgie pe cei ce p&#259;&#537;esc f&#259;r&#259; probleme pe ringul de dans. Ei  bine noi am g&#259;sit solu&#539;ia problemei! Dac&#259; ave&#539;i o pereche de pantofi Clariss &icirc;n  picioare nu ave&#539;i probleme. &Icirc;ndep&#259;rta&#539;i tocurile cu u&#537;urin&#539;&#259; &#537;i le pune&#539;i &icirc;n po&#537;et&#259;  pentru a le putea aplica la loc mai t&acirc;rziu sau pute&#539;i aplica unul mai jos &#537;i  mai gros pentru confort. </p>
	<p>Afacerea noastr&#259; a avut mari &#537;anse s&#259;  &icirc;ntre u&#537;or pe pia&#539;&#259; deoarece aducem noutate &#537;i diversitate. Pl&#259;nuim o  dezvoltare mare &icirc;n viitor , deoarece, nu vom avea o concuren&#539;&#259; considerabil&#259;,  iar munca &#537;i devotamentul pentru un domeniu a&#537;a de frumos vor ajuta la  producerea cu spor a unor produse dorite.</p>
	</div>
	</div>
	</section>
	
	<div class="container">
	<canvas id="inima">
	</canvas>
	</div>
	<script src="js/java-inima.js"></script>		

	</main>
	<%-include("../fragmente/footer")%>
    
</body>
</html>