<!doctype html>
<html lang="ro">
    <head>
        <title>Clariss Acasa</title>
        <link rel="icon" href="images/clariss.png">
		<link rel="stylesheet" href="css/global.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/style-index.css">
		<link rel="stylesheet" href="css/media.css">
		<meta charset="UTF-8">
		<meta name="description" content="Magazin online de incaltaminte Clariss">
		<meta name="keywords" content="Pantofi,Tocuri,Sandale,Clariss,Magazin,Incaltaminte">
		<meta name="author" content="Matei Andreea Madalina">
		<meta name="viewport" content="width=device-width">
    </head>
<body>
	<%-include("../fragmente/header")%>
	<main>
		
		<div class="container">
			<h1> ACASA </h1>
		</div>
		<div class="container">
			<p id="mesaj-shop"></p>
		</div>
		<script src="js/java-mesaj.js"></script>	
		<section class="promo">
			<div class="container">
					<h2>PANTOFI <b>& </b>TOCURI</h2>
					<h2>DE LA CEL MAI BUN BRAND DIN <br><b>ROMANIA</b></h2>
			</div>
		</section>
		
		<section class="prezentare">
			<div class="container">

				<div class="box-1">
				<h2>INOVATIE</h2>
				<p>Produsul nostru ofera o inovatie in domeniul modei, un ajutor pentru femeile de toate varstele. Pantofii cu toc detasabil reprezinta o noutate in tara nostra.Pantofii nostri sunt comozi, din diverse materiale, iar tocul poate fi indepartat sau schimbat cu altul foarte simplu si usor</p>
				</div>
				<div class="box-1">
				<h2>MECANISM</h2>
				<ol><li>Trage de clapeta de pe talpa pentru a debloca mecanismul</li>
				<li>In acelasi timp se indeparteaza tocul si se inchide clapeta</li>
				<li>Se inlocuieste cu un altul si se apasa pe acesta</li>
				</ol>
				</div>
				<div class="box-1">
				<h2>RETURNARE BANI 100%</h2>
				<p>In cazul in care nu sunteti satisfacuti in totalitate de produsele noastre, noi va garantam rambursarea banilor.</p>
				</div>
				<div class="box-1">
				<h2>NU GASITI CEEA CE DORITI?</h2>
				<p>Puteti veni la magazinul central, cel mai mare din lantul de magazine, si isi poate crea propriul model, cu propriile colori si marimi. Un avantaj al nostru este ca facem incaltaminte speciala pe comanda pentru persoanele cu probleme ale piciorului.
				</p>
				</div>
			</div>
		</section>	
		<section id="ceas">
			<div class="container">
				<h2> REDUCERILE DE VARA </h2>
				<h3> O sa apara in curand! </h3>
				<div class="numaratoare">
					<div class="count">
						<span id="zi">00</span>
						ZILE
					</div>
					<div class="count">
						<span id="ora">00</span>
						ORE
					</div>
					<div class="count">
						<span id="minut">00</span>
						MINUTE
					</div>
					<div class="count">
						<span id="secunda">00</span>
						SECUNDE
					</div>
				</div>
			</div>
		</section>
		<script src="js/java-ceas.js"></script>	

	<section >
	<div class="container">
	<div id="quiz">
	<h2> QUIZ </h2>
	</div>
	</div>
	</section>	
		<script src="js/java-quiz.js"></script>
	
	</main>
	<%-include("../fragmente/footer")%>

</body>
</html>
